<div class="w-full max-w-5xl mx-auto p-6 pb-0">

  <div class="mb-20">
    <h1
      class="text-4xl font-extrabold mb-2 text-center color-red tracking-tight"
    >
      Dashboard
    </h1>
    <p class="text-lg text-gray-600 text-center">
      Bem-vindo ao seu dashboard! Aqui você pode explorar e analisar em tempo
      real os principais indicadores da empresa.
    </p>
  </div>

  <div
    class=" bg-white rounded-2xl shadow-xl border border-gray-200 mb-10"
  >
    <div class="p-6">
      <h2 class="text-2xl font-bold color-red text-center tracking-tight mb-10">
        Indicadores Segmentados
      </h2>
      <div class="flex flex-wrap justify-center gap-6 mb-6">
        <%= render 'filters', filters: @filters %>
      </div>
      <%= render 'cards', filtered: @filtered %>
    </div>
  </div>

  <div
    class=" bg-white rounded-2xl shadow-xl border border-gray-200 mb-10"
  >
    <div class="p-6">
      <h2 class="text-2xl font-bold color-red mb-10 text-center tracking-tight">
        Estatísticas Avançadas
      </h2>
      <div>
        <%= render 'eda', eda: @eda %> 
        <%= render 'executive_report' %>
      </div>
    </div>
  </div>
  <div class="flex justify-end mb-4">
    <%= link_to 'Exportar PDF', dashboard_pdf_path(request.query_parameters),
    class: 'bg-red text-white hover:bg-red-700 text-white font-bold py-2 px-4 rounded',
    target: '_blank' %>
  </div>
</div>
