<div
  class="w-full mx-auto p-6 pb-0 bg-white rounded-2xl shadow-xl border border-gray-200"
>
  <h1 class="text-4xl font-extrabold mb-6 text-center color-red tracking-tight">
    Dashboard
  </h1>
  <p class="mb-10 text-lg text-gray-600 text-center">
    Bem-vindo ao seu dashboard! Aqui você pode explorar e analisar em tempo real
    os principais indicadores da empresa.
  </p>

  <div class="mb-8 flex flex-wrap justify-center gap-6">
    <%= render 'filters', filters: @filters %>
  </div>

  <div class="flex flex-col gap-10 mb-10">
    <div
      class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
    >
      <h2 class="text-xl font-bold mb-4 color-green text-center">
        Funcionários por Área
      </h2>
      <% if @filtered[:employees_per_area].present? %> 
      <%= column_chart @filtered[:employees_per_area], height: '320px', library: {title: {text:'', fontSize: 0}} %> 
      <% else %>
      <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
      <% end %>
    </div>
    <div
      class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
    >
      <h2 class="text-xl font-bold mb-4 color-green text-center">
        Média de Feedback por Área
      </h2>
      <% if @filtered[:avg_feedback_per_area].present? %> 
      <%= bar_chart @filtered[:avg_feedback_per_area], height: '320px', library: {title: {text: '', fontSize: 0}} %> 
      <% else %>
      <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
      <% end %>
    </div>
    <div
      class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
    >
      <h2 class="text-xl font-bold mb-4 color-green text-center">
        Distribuição de eNPS
      </h2>
      <% if @filtered[:enps_distribution].present? %> 
      <%= pie_chart @filtered[:enps_distribution], height: '320px', library: {title: {text:
      '', fontSize: 0}} %> <% else %>
      <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
      <% end %>
    </div>

    <%= render 'eda', eda: @eda %>
  </div>
</div>
