<% content_for :title, "Employees" %>
<div class="flex flex-col w-full">
  <div class="flex justify-center w-full items-center mb-8">
    <h1 class="text-2xl">Lista de colaboradores</h1>
  </div>

  <div class="w-full flex justify-center">
    <div class="w-full">
      <% if @employees.any? %>
      <table class="hidden lg:table lg:table-sm table-zebra w-full">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Email corporativo</th>
            <th>Area</th>
            <th>Função</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.nome %></td>
            <td><%= employee.email %></td>
            <td><%= employee.email_corporativo %></td>
            <td><%= employee.area %></td>
            <td><%= employee.cargo %></td>
            <td>
              <%= link_to 'Ver detalhes', employee_path(employee), class: 'btn
              btn-sm btn-primary bg-green text-white border-[#0097a7]' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="justify-center w-full hidden lg:flex">
        <div
          role="alert"
          class="alert alert-info alert-soft text-center font-semibold max-w-60"
        >
          Nenhum funcionário cadastrado
        </div>
      </div>
      <% end %>

      <div class="flex flex-col gap-4 lg:hidden">
        <% if @employees.any? %> 
        <% @employees.each do |employee| %>
        <div class="p-4 rounded-xl shadow bg-white">
          <div class="font-bold text-lg mb-2" style="color: #2e2e2e">
            <%= employee.nome %>
          </div>
          <div class="text-sm mb-1">
            <span class="font-semibold" style="color: #ee4c4a">Email:</span>
            <span style="color: #2e2e2e"><%= employee.email %></span>
          </div>
          <div class="text-sm mb-1">
            <span class="font-semibold" style="color: #ee4c4a"
              >Email corporativo:</span
            >
            <span style="color: #2e2e2e"
              ><%= employee.email_corporativo %></span
            >
          </div>
          <div class="text-sm mb-1">
            <span class="font-semibold" style="color: #ee4c4a">Área:</span>
            <span style="color: #2e2e2e"><%= employee.area %></span>
          </div>
          <div class="text-sm mb-1">
            <span class="font-semibold" style="color: #ee4c4a">Cargo:</span>
            <span style="color: #2e2e2e"><%= employee.cargo %></span>
          </div>

          <div class="mt-2">
            <%= link_to 'Ver detalhes', employee_path(employee), class: 'btn
            btn-sm btn-primary w-full bg-green text-white border-[#0097a7]' %>
          </div>
        </div>
        <% end %> 
        <% else %>
        <div class="flex justify-center w-full">
          <div
            role="alert"
            class="alert alert-info alert-soft text-center font-semibold max-w-60"
          >
            Nenhum funcionário cadastrado
          </div>
        </div>
        <% end %>
      </div>

      <% if @employees.any? %>
      <div class="mt-4 flex justify-center"><%= paginate @employees %></div>
      <% end %>
    </div>
  </div>
</div>
