<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Pin People Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Pin People Challenge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= javascript_include_tag "chartkick" %> 
    <%= javascript_include_tag "Chart.bundle" %> 
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %> 
    <%#= tag.link rel: "manifest", href:pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <%# Includes all stylesheet files in app/assets/stylesheets %> 
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <main
      class="mx-auto mt-10 lg:mt-20 px-2 lg:px-2 xl:px-5 flex mb-5 lg:mb-10 w-full justify-center container"
    >
      <%= yield %>
      <div class="fab fixed bottom-4 right-4 font-bold">
        <div tabindex="0" role="button" class="btn btn-lg btn-circle btn-info bg-green border-[#0097a7]">☰</div>

        <div class="fab-close">
          Menu <span class="btn btn-circle btn-lg btn-error bg-red border-[#ee4c4a]">✕</span>
        </div>

        <div>
          <span>Employees</span> 
            <%= link_to employees_path, class: "flex items-center gap-2" do %>
             <button class="btn btn-lg btn-circle">
              😊
             </button>
            <% end %>
        </div>
        <div>
          <span>Dashboard</span> 
            <%= link_to dashboard_path, class: "flex items-center gap-2" do %>
              <button class="btn btn-lg btn-circle">
                📈
              </button>
            <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
